!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    %header チャットグループが作成されました。
    .side
      .side__user
        %i.fa.fa-cog{"aria-hidden" => "true"}
        = link_to edit_user_path(current_user.id) do
          %i.fa.fa-edit{"aria-hidden" => "true"}

        .side__user__user-name
          = current_user.name
      .side__group
        .side__group__name group1
        .side__group__message まだメッセージはありません

        .side__group__name group2
        .side__group__message あなたには誰からもメッセージはありません

        .side__group__name group3
        .side__group__message (´；ω；｀)ﾌﾞﾜｯ

    .chat-screen
      .chat-screen__group
        .chat-screen__group__edit-btn Edit
        .chat-screen__group__name sample group
        .chat-screen__group__create-user Members: a

      .chat-screen__chat-area
        .chat-screen__chat-area__message-name UserName1
        .chat-screen__chat-area__message-time 2017/6/1 11:30:18
        .chat-screen__chat-area__message haha! zenzendekinai...warota!

        .chat-screen__chat-area__message-name UserName2
        .chat-screen__chat-area__message-time 2017/6/1 13:51:21
        .chat-screen__chat-area__message すすまない…(´・ω・｀)

        .chat-screen__chat-area__message-name UserName3
        .chat-screen__chat-area__message-time 2017/6/1 15:43:09
        .chat-screen__chat-area__message (´；ω；｀)ﾌﾞﾜｯ

      .chat-screen__posting-area
        .chat-screen__posting-area__message-box
          type a message
          %i.fa.fa-picture-o{"aria-hidden" => "true"}
        .chat-screen__posting-area__message-send-btn Send
    %footer
