$aicon-text-color: #FFFFFF;
$Light-color: #999999;
$header-height: 4vh;
$side-user-bar-height: 14vh;
$side-group-bar-height: 82vh;
$group-infomation-height: 14vh;
$chat-area-height: calc(69vh - 46px);
$posting-message-area-hright: calc(13vh - 20px);
