$white-color: #FFFFFF;
$Light-color: #999999;
$side-user-bar-height: 16vh;
$side-group-bar-height: 84vh;
$group-infomation-height: 16vh;
$chat-area-height: calc(71vh - 46px);
$posting-message-area-hright: calc(13vh - 21px);
